@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap');

.ContactPage {
  width: 100%;
  height: 100vh;
  background: rgb(246, 130, 22);
  background: linear-gradient(
    0deg,
    rgba(246, 130, 22, 1) 0%,
    rgba(46, 33, 4, 1) 100%
  );
  font-family: 'Chakra Petch';
  text-align: center;
}

.ContactPage h1 {
  color: white;
  margin: 0%;
  padding-top: 5%;
  text-align: center;
  font-size: 2.8rem;
  text-shadow: 2px 2px #ff7700;
}

.ContactPage a {
  color: white;
}

.ContactPage a:hover {
  color: #fa9130;
}

.mailIcon:hover {
  cursor: pointer;
  color: #fa9130;
}

.contactText {
  margin: auto;
  margin-top: 15vh;
  color: white;
  font-size: 1.2rem;
  width: 40%;
  height: fit-content;
}

.linksWrapper {
  margin: auto;
  margin-top: 5rem;
  width: 40%;
  height: fit-content;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  color: white;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .ContactPage {
    background: rgb(246, 130, 22);
    background: linear-gradient(
      0deg,
      rgba(246, 130, 22, 1) 0%,
      rgba(46, 33, 4, 1) 100%
    );
    padding-top: 4vh;
    height: 100vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ContactPage {
    background: rgb(246, 130, 22);
    background: linear-gradient(
      0deg,
      rgba(246, 130, 22, 1) 0%,
      rgba(46, 33, 4, 1) 100%
    );
    padding-top: 4vh;
    height: 100vh;
  }

  .ContactPage h1 {
    text-align: center;
  }

  .contactText {
    width: 80%;
    padding-bottom: 5vh;
  }

  .linksWrapper {
    width: 80%;
  }
}
