@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap");

.ContactPage {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.postimg.cc/SN5YXwDC/Untitled-design-3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Chakra Petch";
  text-align: center;
}

.ContactPage h1 {
  color: #ff7a00;
  margin: 0%;;
  padding-top: 1%;
  text-align: center;
}

.ContactPage a {
  color: #ff7a00;
}

.ContactPage a:hover {
  color: #fa9130;
}

.mailIcon:hover {
  cursor: pointer;
  color: #fa9130;
}

.contactText {
  margin: auto;
  margin-top: 15vh;
  color: white;
  font-size: 1.2rem;
  width: 40%;
  height: fit-content;
}

.linksWrapper {
  margin: auto;
  width: 40%;
  height: fit-content;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  color: #ff7a00;
}

@media screen and (max-width: 480px) {
  .ContactPage {
    background-image: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ContactPage {
    background-image: url('https://i.postimg.cc/bN46XSDD/Untitled-design-24.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 3vh;
    height: 98vh;
  }

  .ContactPage h1 {
    text-align: center;
  }

  .contactText {
    width: 80%;
    padding-bottom: 5vh;
  }

  .linksWrapper {
    width: 80%;
  }
}
