@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap");

.projectsPage {
  margin-top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Chakra Petch";
  background-color: #f58444;
  background-image: linear-gradient(112deg, #f58444 0%, #f7ce68 100%);
  padding-bottom: 4vh;
}

.projectsPage h1 {
  color: #373737;
  margin: 0%;
  padding: 4vh 0;
  text-align: center;
}

.projectsWrapper {
  margin-top: 0%;
  height: 70%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 5px 0;
}

.projectImg {
  width: 100%;
  margin-bottom: 10px;
}

.projectButtonDiv {
  display: flex;
  justify-content: space-between;
}

.projectButtonDiv a {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px 0;
  border: none;
  font-family: "Chakra Petch";
}

.projectButtonDiv button {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px 0;
  color: black;
  border: none;
  font-family: "Chakra Petch";
}

.projectButtonDiv button:hover {
  cursor: pointer;
}

.siteButton {
  background-color: #373737;
  color: white !important;
}

.gitHubButton {
  background-color: white;
}

.projectDesc {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.projectAlt {
  width: 20%;
  justify-content: center;
}

.projectButtonDivAlt {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.projectButtonDivAlt a {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px 0;
  border: none;
  font-family: "Chakra Petch";
}

.projectButtonDivAlt button {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px 0;
  color: black;
  border: none;
  font-family: "Chakra Petch";
}

.projectButtonDivAlt button:hover {
  cursor: pointer;
}

.projectImgAlt {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  margin: auto;
}

.projectAlt h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 5px 0;
}

.projectDescAlt {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .projectsPage {
    height: fit-content;
    padding-bottom: 5vh;
  }
  .projectsWrapper {
    flex-direction: column;
  }
  .project {
    width: 45%;
  }

  .projectAlt {
    width: 22%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .projectsPage {
    height: fit-content;
    padding-bottom: 3vh;
  }

  .project {
    margin-bottom: 5vh;
    width: 90% !important;
  }

  .projectAlt {
    margin-bottom: 5vh;
  }

  .projectsPage h1 {
    text-align: center;
  }
  .projectsWrapper {
    flex-direction: column;
    height: fit-content;
  }
  .project {
    width: 80%;
  }

  .projectAlt {
    width: 70%;
  }

  .projectButtonDiv button {
    font-size: 1rem;
  }
}
