@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap");

.projectsPage {
  margin-top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Chakra Petch";
  background-color: #f58444;
  background-image: linear-gradient(112deg, #f58444 0%, #f7ce68 100%);
  padding-bottom: 4vh;
}

.projectsPage h1 {
  color: #373737;
  margin: 0%;
  padding: 4vh 0;
  text-align: center;
  font-size: 2.8rem;
  text-shadow: 2px 2px #ffffff;
}

.projectsWrapper {
  margin-top: 0%;
  height: 70%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 10px; /* Gap between grid items */
  justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .projectsPage {
    height: fit-content;
    padding-bottom: 5vh;
  }
  .projectsWrapper {
    grid-template-columns: 1fr; /* One column */
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .projectsPage {
    height: fit-content;
    padding-bottom: 3vh;
  }

  .projectsPage h1 {
    text-align: center;
  }
  .projectsWrapper {
    grid-template-columns: 1fr; /* One column */
    height: fit-content;
  }
}
