.project {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.projectButtonDiv {
  display: flex;
  justify-content: space-between;
}

.projectButtonDiv a {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px 0;
  border: none;
  font-family: "Chakra Petch";
}

.projectButtonDiv button {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px 0;
  color: black;
  border: none;
  font-family: "Chakra Petch";
}

.projectButtonDiv button:hover {
  cursor: pointer;
}

.siteButton {
  background-color: #373737;
  color: white !important;
}

.siteButton:hover {
  background-color: #575757;
}

.gitHubButton {
  background-color: white;
}

.gitHubButton:hover {
  background-color: #e7e7e7;
}

.projectDesc {
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

.projectImg {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  justify-self: center;
}

.project h3 {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin: 5px 0;
}

.projectDesc {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .projectsPage {
      height: fit-content;
      padding-bottom: 5vh;
    }
    .projectsWrapper {
      grid-template-columns: 1fr; /* One column */
    }
  
    .project {
      width: 22%;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .projectsPage {
      height: fit-content;
      padding-bottom: 3vh;
    }

  
    .project {
      margin-bottom: 5vh;
    }
  
    .projectsPage h1 {
      text-align: center;
    }
    .projectsWrapper {
      grid-template-columns: 1fr; /* One column */
      height: fit-content;
    }
  
    .project {
      width: 70%;
    }
  
    .projectButtonDiv button {
      font-size: 1rem;
    }
  }
