.scroll-button {
    position: fixed;
    bottom: 5%;
    right: 3%;
    height: 45px;
    width: fit-content;
    padding: 15px 15px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 18px;
  }
  
  .scroll-button:hover {
    cursor: pointer;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .scroll-button {
      bottom: 3%;
      right: 6%;
    }
  }
  